@import '@angular/material/prebuilt-themes/indigo-pink.css';
.nav {
  height: 10vh;
  background: #333;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;


  .nav__text {
    padding-left: 10px
  }
}
