@import '../../styles.scss';
.nav {
  height: 10vh;
  background: $green;
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;


  .nav__text {
    padding-left: 10px
  }
}
