/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;}

$navy: #011627;
$white: #FDFFFC;
$green: #2EC4B6;
$red: #E71D36;
$orange: #FF9F1C;
